@import url("https://fonts.google.com/specimen/Montserrat?query=Mon");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    background: #ffbf69;
    color: black;
}

.header__brand {
    position: static;
    font-weight: 600;
    font-size: 20px;
}

.header__menu {
    display: flex;
    gap: 60px;
}

.menu__link {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-decoration: none;
    color: black;
}

.menu__link:hover {
    background: rgba(0,0,0,.08);
    cursor: pointer;
}

.hero {
    background: url("../images/background.png") no-repeat center;
    background-size: contain;
    background-color: #ffbf69;
    min-height: 700px;
    display: flex;
    align-items: center;
}

.hero__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
.hero__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero__title {
    font-weight: 900;
    font-size: 150px;
    margin: 0;
    color: white;
}

.hero__description {
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    color: white;
    margin: 0;
    max-width: 420px;
    line-height: 1.7;
}
.hero__btn {
    margin-top: 24px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0;
    padding: 14px 60px;
    color: black;
    background: rgba(162, 247, 247, 0.7);
    text-decoration: none;
    border: 2px solid rgba(162, 255, 255, 0.7);
    transition: 0.3s;
    width: fit-content;
}
.hero__btn:hover {
    background: rgba(162, 255, 255, 0.85);
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 80px 18px;
}
.about h2 {
    font-size: 30px;
    font-weight: 900;
}
.about p {
    max-width: 750px;
    color:#555;
    line-height: 1.7;
    font-size: 18px;
}
.catalog {
    background: #d3f0ee;
    padding: 60px 20px;
    text-align: center;
}

.catalog h3 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 40px;
}

.catalog__items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.catalog__img {
    width: 160px;
    height: auto;
}

.catalog__name {
    font-size: 16px;
    font-weight: 600;
}

.catalog__btn {
    background: #f8a93a;
    color:black;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 2px;
    transition: 2s;
}

.catalog__btn:hover {
    background: #ffbb55;
}

.rules {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 160px;
    gap: 200px;
    background-image: url("../images/bg-grid.png");
    background-size: 1220px;
    background-position: center;
    background-repeat: no-repeat;
}

.rules__left {
    position: relative;
    max-width: 520px;
    z-index: 3;
}

.rules__left h3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 15px;
}

.rules__left p {
    font-size: 16px;
    color: #444;
    line-height: 1.4;
}
.rules__left h3,
.rules__left p {
    position: relative;
    z-index: 3;
}

.rules__photo {
    width: 370px;
}

.footer {
    background: #1a1a1a;
    color: white;
    padding: 25px 0;
}

.footer__inner {
    display: flex;
    justify-content: center;
    gap: 180px;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 1024px){
    .header {
        padding: 16px 60px;
        flex-direction: column;
        gap: 24px;
    }
    .hero {
        width: 100%;
    }
    .hero__inner {
        flex-direction: flex-start;
    }
    .hero__left {
        align-items: left;
        margin-left: 60px;
    }
    .hero__title {
        font-weight: 700;
        font-size: 100px;
    }
    .catalog__items {
        gap: 40px;
    }
    .rules {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 60px 60px;
        gap: 120px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rules__left {
        order: 1;
    }
    .rules__right {
        order: 2;
    }
    .rules__photo {
        width: 100%;
        max-width: 600px;
    }
    .rules__left h3 {
        font-size: 20px;
    }

    .rules__left p {
        font-size: 15px;
    }
    .footer {
        padding: 16px 0;
    }
    .footer__inner {
        flex-direction: row;
        align-items: center;
        gap: 80px;
    }
}

@media (max-width: 768px){
    .header {
        padding: 16px 20px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .menu__link {
        font-size: 14px;
    }
    .header__brand {
        text-align: center;
        font-size: 20px;
    }
    .hero {
        width: 100%;
    }
    .hero__title {
        font-size: 72px;
    }
    .hero__description {
        font-size: 16px;
    }
    .hero__inner {
        flex-direction: flex-start;
    }
    .hero__left {
        align-items: left;
        margin: 40px;
    }
    .hero__btn {
        width: auto;
        padding: 12px 24px;
        align-self: flex-start;
        font-size: 16px;
    }
    .catalog__items {
        gap: 40px;
    }
    .rules {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
        background-size: 420px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rules__photo {
        width: 100%;
        max-width: 250px;
    }
    .rules__left h3 {
        font-size: 16px;
    }

    .rules__left p {
        font-size: 12px;
    }
    .footer {
        padding: 16px 0;
    }
    .footer__inner {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}


@media (max-width: 320px){
    .header {
        padding: 12px 10px;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
    .menu__link {
        font-size: 14px;
    }
    .header__brand {
        text-align: center;
        font-size: 20px;
    }
    .hero {
        width: 100%;
    }
    .hero__title {
        font-size: 32px;
    }
    .hero__description {
        font-size: 16px;
    }
    .hero__inner {
        flex-direction: flex-start;
    }
    .hero__left {
        align-items: left;
        margin-left: 40px;
    }
    .hero__btn {
        width: auto;
        padding: 12px 24px;
        align-self: flex-start;
        font-size: 16px;
    }
    .catalog__items {
        gap: 40px;
    }
    .rules {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
        background-size: 420px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rules__left {
        max-width: 100%;
    }
    .rules__photo {
        width: 100%;
        max-width: 320px;
    }
    .rules__left h3 {
        font-size: 16px;
    }

    .rules__left p {
        font-size: 12px;
    }
    .footer {
        padding: 16px 0;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}