@import url("https://fonts.google.com/specimen/Montserrat?query=Mon");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
}
.top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    background: #ffbf69;
}

.brand {
    position: static;
    font-weight: 600;
    font-size: 24;
}

.menu {
    display: flex;
    gap: 60px;
}
.menu a {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08em;
}
.menu a:hover {
    background: rgba(0,0,0,.08);
    cursor: pointer;
}

.hero {
    background: url("images/background.png") no-repeat center;
    background-size: contain;
    background-color: #ffbf69;
    min-height: 700px;
    display: flex;
    align-items: center;
}

.hero-inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-title {
    font-weight: 900;
    font-size: 150px;
    margin: 0;
    color: white;
}

.hero-description {
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    color: white;
    margin: 0;
    max-width: 420px;
    line-height: 1.7;
}
.btn {
    margin-top: 24px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0;
    padding: 14px 60px;
    color: black;
    background: rgba(162, 247, 247, 0.7);
    text-decoration: none;
    border: 2px solid rgba(162, 255, 255, 0.7);
    transition: 0.3s;
    width: fit-content;
}
.btn:hover {
    background: rgba(162, 255, 255, 0.85);
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 80px 18px;
}
.about h2 {
    font-size: 30px;
    font-weight: 900;
}
.about p {
    max-width: 750px;
    color:#555;
    line-height: 1.7;
    font-size: 18px;
}
.catalog {
    background: #d3f0ee;
    padding: 60px 20px;
    text-align: center;
}

.catalog h3 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 40px;
}

.catalog-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.item img {
    width: 160px;
    height: auto;
}

.item p {
    font-size: 16px;
    font-weight: 600;
}

.item-btn {
    background: #f8a93a;
    color:black;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 2px;
    transition: 2s;
}

.item-btn:hover {
    background: #ffbb55;
}

.rules {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 160px;
    gap: 200px;
    background-image: url("images/bg-grid.png");
    background-size: 1220px;
    background-position: center;
    background-repeat: no-repeat;
}

.rules-left {
    position: relative;
    max-width: 520px;
    z-index: 3;
}

.rules-left h3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 15px;
}

.rules-left p {
    font-size: 16px;
    color: #444;
    line-height: 1.4;
}
.rules-left h3,
.rules-left p {
    position: relative;
    z-index: 3;
}

.rules-right img {
    width: 370px;
}

.footer {
    background: #1a1a1a;
    color: white;
    padding: 25px 0;
}

.footer-inner {
    display: flex;
    justify-content: center;
    gap: 180px;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 600px){
    .top {
        padding: 16px 20px;
        flex-direction: column;
        gap: 12px;
    }
    .hero {
        background-size: 520px;
        background-position: left;
        background-repeat: no-repeat;
    }
    .hero-inner {
        flex-direction: column;
        text-align: center;
    }
    .hero-left {
        align-items: center;
    }
    .catalog-items {
        gap: 40px;
    }
    .rules {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
        background-size: 420px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rules-left {
        max-width: 100%;
    }
    .rules-right img {
        width: 100%;
        max-width: 320px;
    }
    .footer {
        padding: 16px 0;
    }
    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 1024px){
    .top {
        padding: 16px 60px;
        flex-direction: column;
        gap: 24px;
    }
    .hero {
        background-size: 650px;
        background-position: contain;
        background-repeat: no-repeat;
    }
    .hero-inner {
        flex-direction: column;
        text-align: center;
    }
    .hero-left {
        align-items: center;
    }
    .catalog-items {
        gap: 40px;
    }
    .rules {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        padding: 60px 60px;
        gap: 120px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rules-left {
        max-width: 100%;
    }
    .rules-right img {
        width: 100%;
        max-width: 320px;
    }
    .footer {
        padding: 16px 0;
    }
    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
}